HOST=localhost
PORT=3001
DB_HOST=localhost
DB_PORT=5432
DB_NAME=change-me#postgre
DB_USER=change-me
DB_PASSWORD=change-me
JWT_SECRET=change-me
JWT_EXPIRATION=0.1h
REFRESH_TOKEN_SECRET=change-me
REFRESH_TOKEN_EXPIRATION="30"
ADMIN_PASSWORD=change-me
SSL_KEY_PATH=key-path.key
SSL_CERT_PATH=certificate-path.crt